@{
    ViewData["Title"] = "About";
}

<header>
    <nav>
        <a href="~/Home/Index"><img src="https://demo1.leotheme.com/leo_rent_car_demo/img/leo-rent-car-logo-1533114693.jpg" alt=""></a>
        <a href="" class="btn-burger"><i class="fa-solid fa-bars"></i></a>
        <ul class="main-nav container">
            <li><a href="" class="close">Close</a></li>
            <li><a href="~/Home/Index">Home</a></li>
            <li><a href="~/Car/GetCars">Our Car</a></li>
            <li><a href="~/Home/About" class="active">About</a></li>
            <li><a href="~/Home/Contact">Contact</a></li>
            @if (User.IsInRole("Admin"))
            {
                <li><a href="~/Car/AllCar">All Cars</a></li>
                <li><a href="~/Users/AllUsers">All Users</a></li>
            }
        </ul>
        @if (User.Identity.IsAuthenticated)
        {
            <a href="~/Profile/Profile" class="my-account">My account</a>
        }
        else
        {
            <a href="~/Account/Login" class="my-account">My account</a>
        }
    </nav>
</header>
<main>
    <ul class="sm-nav container">
        <li><a href="~/Home/Index">Home</a></li>
        <li><i class="fa-solid fa-chevron-right"></i></li>
        <li><a href="~/Home/About">About</a></li>
    </ul>
    <section class="about-us container">
        <h2>About us</h2>
        <div class="about-us__box">
            <div class="about-us__img-box">
                <img src="https://c1.staticflickr.com/1/960/42125845272_71d3f82c31_z.jpg" alt="">
            </div>
            <div class="about-us__text-box">
                <h3>Our story</h3>
                <hr>
                <p>Lorem Khaled Ipsum is a major key to success. They don’t want us to win. Always remember in the jungle there’s a lot of they in there, after you overcome they, you will make it to paradise. Major key, don’t fall for the trap, stay focused. It’s the ones closest to you that want to see you fail. Major key, don’t fall for the trap, stay focused. It’s the ones closest to you that want to see you fail. You see the hedges, how I got it shaped up? It’s important to shape up your hedges, it’s like getting a haircut, stay fresh.</p>
            </div>
        </div>
    </section>
    <section class="our-services">
        <div class="container">
            <div class="our-services__title">
                <h2>Our services</h2>
                <hr>
                <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica</p>
            </div>
            <div class="our-services__card-box">
                <div class="our-services__card">
                    <span>01.</span>
                    <h3>Sell fashion products</h3>
                    <p>Lorem Khaled Ipsum is a major key to success. We the best. Celebrate success right, the only way, apple</p>
                </div>
                <div class="our-services__card">
                    <span>02.</span>
                    <h3>Custom works</h3>
                    <p>Lorem Khaled Ipsum is a major key to success. We the best. Celebrate success right, the only way, apple</p>
                </div>
                <div class="our-services__card">
                    <span>03.</span>
                    <h3>Worldwide delivery</h3>
                    <p>Lorem Khaled Ipsum is a major key to success. We the best. Celebrate success right, the only way, apple</p>
                </div>
            </div>
        </div>
    </section>
    <section class="our-services-bottom">
        <div class="our-services-bottom__contact-us">
            <h3>Contact us</h3>
            <p>Lorem Khaled Ipsum is a major key to success. Congratulations, you played yourself. Cloth talk. You do know, you do know that they don’t want you to have lunch</p>
            <a href="">CONTACT US</a>
        </div>
        <div class="our-services-bottom__work-with-us">
            <h3>Work with us</h3>
            <p>Lorem Khaled Ipsum is a major key to success. Congratulations, you played yourself. Cloth talk. You do know, you do know that they don’t want you to have lunch</p>
            <a href="">OPEN POSITIONS</a>
        </div>
    </section>
    <section class="meet-our-team container">
        <div class="meet-our-team__title">
            <h2>Our services</h2>
            <hr>
            <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica</p>
        </div>
        <div class="meet-our-team__card-box">
            <div class="meet-our-team__card">
                <div class="img-box">
                    <img src="https://c1.staticflickr.com/1/828/41451202734_19c4f116b0.jpg" alt="">
                </div>
                <h3>Angela Jolie</h3>
                <p>CEO & Founder</p>
            </div>
            <div class="meet-our-team__card">
                <div class="img-box">
                    <img src="https://c1.staticflickr.com/1/828/41451202734_19c4f116b0.jpg" alt="">
                </div>
                <h3>Angela Jolie</h3>
                <p>CEO & Founder</p>
            </div>
            <div class="meet-our-team__card">
                <div class="img-box">
                    <img src="https://c1.staticflickr.com/1/828/41451202734_19c4f116b0.jpg" alt="">
                </div>
                <h3>Angela Jolie</h3>
                <p>CEO & Founder</p>
            </div>
            <div class="meet-our-team__card">
                <div class="img-box">
                    <img src="https://c1.staticflickr.com/1/828/41451202734_19c4f116b0.jpg" alt="">
                </div>
                <h3>Angela Jolie</h3>
                <p>CEO & Founder</p>
            </div>
            <div class="meet-our-team__card">
                <div class="img-box">
                    <img src="https://c1.staticflickr.com/1/828/41451202734_19c4f116b0.jpg" alt="">
                </div>
                <h3>Angela Jolie</h3>
                <p>CEO & Founder</p>
            </div>
            <div class="meet-our-team__card">
                <div class="img-box">
                    <img src="https://c1.staticflickr.com/1/828/41451202734_19c4f116b0.jpg" alt="">
                </div>
                <h3>Angela Jolie</h3>
                <p>CEO & Founder</p>
            </div>
        </div>
    </section>
</main>