@{
    ViewData["Title"] = "Contact";
}

<header>
    <nav>
        <a href="./index.html"><img src="https://demo1.leotheme.com/leo_rent_car_demo/img/leo-rent-car-logo-1533114693.jpg" alt=""></a>
        <a href="" class="btn-burger"><i class="fa-solid fa-bars"></i></a>
        <ul class="main-nav container">
            <li><a href="" class="close">Close</a></li>
            <li><a href="~/Home/Index">Home</a></li>
            <li><a href="~/Home/OurCar">Our Car</a></li>
            <li><a href="~/Home/About">About</a></li>
            <li><a href="~/Home/Contact" class="active">Contact</a></li>
        </ul>
        <a href="./my-account.html" class="my-account">My account</a>
    </nav>
</header>
<main>
    <ul class="sm-nav container">
        <li><a href="./index.html">Home</a></li>
        <li><i class="fa-solid fa-chevron-right"></i></li>
        <li><a href="./contact.html">Contact</a></li>
    </ul>
    <div class="map">
        <div class="container">
            <form action="" method="post">
                <h2>SEND US A MESSAGE</h2>
                <div class="frm-obj">
                    <label for="">Subject</label>
                    <select name="" id="">
                        <option value="1">Customer Service</option>
                        <option value="2">Webmaster</option>
                    </select>
                </div>
                <div class="frm-obj">
                    <label for="">Email address</label>
                    <input type="email" name="" id="" placeholder="your@email.com">
                </div>
                <div class="frm-obj">
                    <label for="">Message</label>
                    <textarea name="" id="" cols="30" rows="10" placeholder="How can we help?"></textarea>
                </div>
                <a href="">SEND</a>
            </form>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d97236.62360534059!2d49.7847484326276!3d40.394571267864904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d6bd6211cf9%3A0x343f6b5e7ae56c6b!2z0JHQsNC60YMsINCQ0LfQtdGA0LHQsNC50LTQttCw0L0!5e0!3m2!1sru!2s!4v1674491605283!5m2!1sru!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</main>