@{
    ViewData["Title"] = "Home";
}

<header>
    <nav class="main-nav">
        <a href="~ /Home/Index"><img src="https://demo1.leotheme.com/leo_rent_car_demo/img/leo-rent-car-logo-1533114693.jpg" alt=""></a>
        <a href="" class="btn-burger"><i class="fa-solid fa-bars"></i></a>
        <ul class="main-nav container">
            <li><a href="" class="close">Close</a></li>
            <li><a href="~/Home/Index" class="active">Home</a></li>
            <li><a href="~/Car/GetCars">Our Car</a></li>
            <li><a href="~/Home/About">About</a></li>
            <li><a href="~/Home/Contact">Contact</a></li>
            @if (User.IsInRole("Admin"))
            {
                <li><a href="~/Car/AllCar">All Cars</a></li>
                <li><a href="~/Users/AllUsers">All Users</a></li>
            }
        </ul>
        @if (User.Identity.IsAuthenticated)
        {
            <a href="~/Profile/Profile" class="my-account">My account</a>
        }
        else
        {
            <a href="~/Account/Login" class="my-account">My account</a>
        }
    </nav>
    <section class="header-carousel swiper mySwiper">
        <a href="" class="header-carousel__left"></a>
        <div class="header-carousel__box swiper-wrapper">
            <div class="header-carousel__card swiper-slide" style="background-image: url('https://demo1.leotheme.com/leo_rent_car_demo/themes/leo_rent_car/assets/img/modules/leoslideshow/home3-slide1.jpg');">
                <div class="header-carousel__card-text container">
                    <h2>Now,<br>It's easy for you<br>to rent a car</h2>
                    <p>100 luxury cars from multi brands<br>are always available for you</p>
                    <a href="">START BOOKING</a>
                </div>
            </div>
            <div class="header-carousel__card swiper-slide" style="background-image: url('https://demo1.leotheme.com/leo_rent_car_demo/themes/leo_rent_car/assets/img/modules/leoslideshow/home1-slide1.jpg');">
                <div class="header-carousel__card-text container">
                    <h2>Now,<br>It's easy for you<br>to rent a car</h2>
                    <p>100 luxury cars from multi brands<br>are always available for you</p>
                    <a href="">START BOOKING</a>
                </div>
            </div>
        </div>
        <a href="" class="header-carousel__right"></a>
    </section>
</header>
<main>
    <section class="how-it-work">
        <div class="how-it-work__title">
            <h2>How it works</h2>
            <p>MAKE IT HAPPENS IN 3 STEPS</p>
        </div>
        <div class="how-it-work__card-box">
            <div class="how-it-work__card">
                <i class="fa-solid fa-magnifying-glass"></i>
                <p>01. Select your car</p>
                <span>Select your car, choose your location, time and pick it up</span>
            </div>
            <div class="how-it-work__card">
                <i class="fa-solid fa-check"></i>
                <p>02. Define your booking</p>
                <span>Fill your information into the form and go to next step</span>
            </div>
            <div class="how-it-work__card">
                <i class="fa-regular fa-credit-card"></i>
                <p>03. Payment</p>
                <span>Select your payment, click ok and It’s all done for you</span>
            </div>
        </div>
    </section>
    <section class="we-provide container">
        <div class="we-provide__img-box">
            <a href="">
                <img src="https://demo1.leotheme.com/leo_rent_car_demo/themes/leo_rent_car/assets/img/modules/appagebuilder/images/home1-banner1.jpg" alt="">
            </a>
        </div>
        <div class="we-provide__text-box">
            <div class="title">
                <h2>We provide premium car with high quality</h2>
                <p>CERTIFICATED BY GURUS</p>
            </div>
            <span>Our company was built by trust and reputation. We know how to make our customers love us by our high quality products with affordable prices. We promise to make you have the interesting experiences.</span>
        </div>
    </section>
    <section class="featured-cars container">
        <div class="featured-cars__top">
            <div class="title">
                <h2>Featured cars</h2>
                <p>YOU MAY FALL IN LOVE</p>
            </div>
            <div class="featured-cars__btn">
                <a href="" class="active">LAMBORGHINI</a>
                <a href="">HILO CAR</a>
                <a href="">MERCEDES</a>
            </div>
        </div>
        <div class="featured-cars__card-box">
            <div class="car-card">
                <div class="car-card__top">
                    <img src="https://demo1.leotheme.com/leo_rent_car_demo/24-large_default/hummingbird-printed-t-shirt.jpg" alt="">
                    <img src="https://demo1.leotheme.com/leo_rent_car_demo/25-home_default/hummingbird-printed-t-shirt.jpg" alt="">
                </div>
                <div class="car-card__text">
                    <h5>Ferrari SP38</h5>
                    <p class="price">$23 <span>/Day</span></p>
                    <ul>
                        <li>Prices of Luggage: 4</li>
                        <li>Doors: 3</li>
                        <li>Maximum Passenger: 6</li>
                    </ul>
                    <a href="">VIEW DETAILS</a>
                </div>
            </div>
            <div class="car-card">
                <div class="car-card__top">
                    <img src="https://demo1.leotheme.com/leo_rent_car_demo/24-large_default/hummingbird-printed-t-shirt.jpg" alt="">
                    <img src="https://demo1.leotheme.com/leo_rent_car_demo/25-home_default/hummingbird-printed-t-shirt.jpg" alt="">
                </div>
                <div class="car-card__text">
                    <h5>Ferrari SP38</h5>
                    <p class="price">$23 <span>/Day</span></p>
                    <ul>
                        <li>Prices of Luggage: 4</li>
                        <li>Doors: 3</li>
                        <li>Maximum Passenger: 6</li>
                    </ul>
                    <a href="">VIEW DETAILS</a>
                </div>
            </div>
            <div class="car-card">
                <div class="car-card__top">
                    <img src="https://demo1.leotheme.com/leo_rent_car_demo/24-large_default/hummingbird-printed-t-shirt.jpg" alt="">
                    <img src="https://demo1.leotheme.com/leo_rent_car_demo/25-home_default/hummingbird-printed-t-shirt.jpg" alt="">
                </div>
                <div class="car-card__text">
                    <h5>Ferrari SP38</h5>
                    <p class="price">$23 <span>/Day</span></p>
                    <ul>
                        <li>Prices of Luggage: 4</li>
                        <li>Doors: 3</li>
                        <li>Maximum Passenger: 6</li>
                    </ul>
                    <a href="">VIEW DETAILS</a>
                </div>
            </div>
        </div>
        <div class="featured-cars__bottom">
            <a href=""><img src="https://demo1.leotheme.com/leo_rent_car_demo/img/m/3-manu_default.jpg" alt=""></a>
            <a href=""><img src="https://demo1.leotheme.com/leo_rent_car_demo/img/m/4-manu_default.jpg" alt=""></a>
            <a href=""><img src="https://demo1.leotheme.com/leo_rent_car_demo/img/m/5-manu_default.jpg" alt=""></a>
            <a href=""><img src="https://demo1.leotheme.com/leo_rent_car_demo/img/m/5-manu_default.jpg" alt=""></a>
            <a href=""><img src="https://demo1.leotheme.com/leo_rent_car_demo/img/m/7-manu_default.jpg" alt=""></a>
            <a href=""><img src="https://demo1.leotheme.com/leo_rent_car_demo/img/m/3-manu_default.jpg" alt=""></a>
        </div>
    </section>
    <section class="why-us">
        <div class="container">
            <h2>Why us?</h2>
            <p>SOMETHING TO MAKE YOU LOVE US MORE</p>
            <div class="why-us__card-box">
                <div class="why-us__card">
                    <i class="fa-solid fa-headphones-simple"></i>
                    <div>
                        <p>Premium Support</p>
                        <span>We’re available for helping you, including holiday</span>
                    </div>
                </div>
                <div class="why-us__card">
                    <i class="fa-regular fa-heart"></i>
                    <div>
                        <p>Trusted by 10+ clients</p>
                        <span>We have 10k+ happy clients who love us and ready for our cars</span>
                    </div>
                </div>
                <div class="why-us__card">
                    <i class="fa-solid fa-wallet"></i>
                    <div>
                        <p>No prepaypayment required</p>
                        <span>Just provide us your Social Security Number and It’s all done</span>
                    </div>
                </div>
                <div class="why-us__card">
                    <i class="fa-regular fa-star"></i>
                    <div>
                        <p>High quality cars</p>
                        <span>Our cars ‘re certificated by gurus who has 20+ experience years</span>
                    </div>
                </div>
                <div class="why-us__card">
                    <i class="fa-solid fa-xmark"></i>
                    <div>
                        <p>Free cancelation</p>
                        <span>No extra fee, you can cancel your booking anytime</span>
                    </div>
                </div>
                <div class="why-us__card">
                    <i class="fa-solid fa-plus"></i>
                    <div>
                        <p>And more features</p>
                        <span>This space is too small to show you everything we have</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="rent-car-now">
        <div class="container">
            <p>Enough reason for you?</p>
            <a href="">RENT A CAR NOW</a>
        </div>
    </section>
</main>